.body {
    height: 28rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    height: 25rem;
    width: 20rem;
    background-color: #2C2C2E;
    color: whitesmoke;
    padding: 12px;
}

p {
    font-size: 10px;
    margin-bottom: 30px;
}

.form-label {
    font-size: 12px;
}

.form-control {
    height: 25px;
    font-size: 10px;
    color: whitesmoke;
    background-color: #2C2C2E;
}

.mb-3 input:focus {
    background-color: #2C2C2E;
    color: whitesmoke;
    font-size: 12px;
}

.form-text {
    font-size: 8px;
    color: whitesmoke;
}

input:focus {
    background-color: #2C2C2E;
    color: whitesmoke;
    font-size: 12px;
}

.signin {
    width: 100%;
    height: 1.5rem;
    margin: 20px 0;
    margin-bottom: 30px;
    background-color: #4F46E5;
    color: whitesmoke;
    font-size: 14px;
    border: none;
    border-radius: 1rem;

    transition: transform 0.2s ease;
}

.signin:hover {
    box-shadow: 0 0 5px #635bf2;
    transform: scale(1.08);
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: underline;
}