.nav {
    width: 100%;
    height: 3rem;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 10px;
}

.logo {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 5px;
    background-color: white;
}