.body2 {
    height:100vh;
    margin-top: 60px;
    width: 100vw;
    display: flex;
    justify-content:space-between;
}

.left {
    width: 50vw;
    background: radial-gradient(circle at top left, #1e1b4b, #000000); /* Dark AI theme */
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .card {
    width: 30rem;
    height: 25rem;
    background-color: transparent;
    color: white;
}

.card-body h5 {
    margin-bottom: 25px;
}

.right {
    width: 50vw;
    background-color: #2C2C2E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0 25px;
}