.body2 {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content:space-between;
}

.left {
    height: 100vh;
    width: 49.5vw;
}

.right {
    height: 100vh;
    width: 49.7vw;
    background-color: #2C2C2E;
    display: flex;
    justify-content: center;
    align-items: center;
}
