.body2 {
    height:100vh;
    margin-top: 60px;
    width: 100vw;
    display: flex;
    justify-content:space-between;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
    background: radial-gradient(circle at top left, #1e1b4b, #000000); /* Dark AI theme */
}

.right {
    width: 49.7vw;
    background-color: #2C2C2E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0 25px;
}